.KatCollections {
	position: absolute;
	width: 70%;
	top: -5vh;
	left: 0;
	left: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.CollectionsBackground {
	height: 23vh;
	top: -1vh;
	position: relative;
	background-color: #202020;
}
.KatCollectionPart1,
.KatCollectionPart2 {
	margin: 0;
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width: 500px) {
	.KatCollections {
		flex-direction: column;
		top: -25vh;
	}
}
@media only screen and (max-width: 370px) {
	.KatCollections {
		top: -18vh;
	}
}
