.Kategory {
  width: 11vw;
  height: 25vh;
  background-color: #131212;
  position: relative;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  color: #f3f3f3;
  cursor: pointer;
}
.Kategory:hover {
  background-color: #d1d114;
  color: #3e3e3e;
}
.Kategoryname {
  position: absolute;
  font-size: 1.05vw;
  width: 100%;
  height: 98%;
  top: -0.4vh;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ImageContainer {
  background: linear-gradient(121deg, #0f0f0f, #707070);
  position: absolute;
  display: flex;
  justify-content: center;
  width: 10.4vw;
  height: 20.9vh;
  border-radius: 40px;
  border: 0.15vw solid #707070;
}
.Kategory img {
  position: absolute;
  width: auto;
  height: 20.5vh;
  max-width: 11vw;
  border-radius: 40px;
}
.firstImage {
  z-index: 1;
  background-color: transparent;
  height: auto !important;
  max-height: 20vh;
  position: absolute;
  bottom: 0;
}
.secondImage {
  z-index: 1;
  top: -1vh;
  height: 22vh !important;
  background-color: transparent;
}
@media only screen and (max-width: 800px) {
  .Kategory {
    width: 13vw;
    height: 22vh;
  }

  .ImageContainer {
    width: 11.4vw;
    height: 17.9vh;
  }
  .Kategory img {
    width: 11.1vw;
    height: 17vh;
  }
  .firstImage {
    max-height: 10vh;
  }
  .secondImage {
    top: -0.5vh;
    height: 18.5vh !important;
  }
}
@media only screen and (max-width: 650px) {
  .Kategoryname {
    top: -1.5vh;
    font-size: 1.3vw;
  }
}
