.LoginTopHeader {
	position: relative;
	top: 0;
	height: 3.5vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #333333;
	padding: 0.6vh 0.4vw;
	padding-left: 0.8vw;
	border-bottom: 0.5px solid black;
	box-sizing: border-box;
}
.LoginTopHeader input {
	border: none;
	outline: none;
	color: #f3f3f3;
	background-color: transparent;
	padding: 0.3vh 0.3vw;
	margin: 0.1vh 0.5vw;
	text-align: center;
	font-size: 0.78vw;
	width: 60%;
}

::placeholder {
	color: #f3f3f3;
}
.Question {
	color: #f3f3f3;
	position: relative;
	border: 0.3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	width: 2.2%;
	height: 2.1vh;
	margin: 0.1vh 0.3vw;
	cursor: pointer;
}
.LoginTopHeader button {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #f2c044;
	border-radius: 3px;
	margin: 0.1vh 0.5vw;
	text-align: center;
	font-size: 0.76vw;
	padding: 0.1vh 0.7vw;
	display: flex;
	justify-self: center;
	align-items: center;
	height: 2vh;
	box-sizing: border-box;
}
.Password,
.Username {
	background-color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 50%;
	height: 93%;
	padding: 0.5% 0.2%;
	box-sizing: border-box;
}
.SocialMedia {
	position: absolute;
	right: 8%;
	top: 0;

	width: 3.5%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
	box-sizing: border-box;
}
.UsernamePassword {
	display: flex;
	flex-direction: row;
	width: 18%;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}
.Buttons {
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width: 650px) {
	.LoginTopHeader {
		height: 5vh;
	}
	.SocialMedia {
		width: 5%;
		font-size: 2.3vw;
	}
	.LoginTopHeader button {
		font-size: 1.8vw;
	}
	.UsernamePassword {
		flex-direction: column;
	}
	.Password,
	.Username {
		margin: 0.2vh 0.3vw;
		width: 95%;
	}
	.LoginTopHeader button {
		padding: 0.1vh 0.2vw;
		margin: 0.2vh 1vw;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.Buttons {
		flex-direction: column;

		width: 8%;
	}
}
@media only screen and (max-width: 500px) {
	.SocialMedia {
		flex-direction: column;
		font-size: 2.7vw;
	}
}
@media only screen and (max-width: 860px) {
	.LoginTopHeader button {
		border-radius: 1px;
		font-size: 1vw;
	}
}
@media only screen and (max-width: 450px) {
	.SocialMedia {
		width: 5%;
		font-size: 13px;
	}
	.LoginTopHeader button {
		font-size: 2.4vw;
		width: 120%;
		padding: 0 1vw;
		box-sizing: border-box;
	}
	.UsernamePassword {
		flex-direction: column;
	}
	.Password input,
	.Username input {
		font-size: 5.5px;
	}
}
